@charset "utf-8";
/* CSS Document */

/*##########
INICIO GERAL
##########*/

@font-face{ font-family: "PFHandbookPro"; src: url('font/PFHandbookPro-Regular.ttf'); font-weight:700; font-style:regular; }
@font-face{ font-family: "PFHandbookPro-Thin"; src: url('font/PFHandbookPro-Thin.ttf'); font-weight:700; font-style:thin; }


body, h1, h2, h3, h4, h5, h6,
div, span, object, iframe, img, p, blockquote,
ul, li, ol, dl, dd, dt,
table, thead, tbody, tfoot, tr, td, th,
form, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
big {
	font: 12px Arial; s
}
small {
	font: 9px Arial;
}
sup {
	text-transform: none !important;
	font-size: 8px;
}
ul {
	list-style: none;
}
.clear {
	clear: both;
}
body { margin: 0px; background: #4cf096; height: 100%; text-align:center; }
/*#########
FIM GERAL
#########*/
h1 {
	/*position: fixed;
	left: 0;
	top: 15px;
	z-index: 100;
	background: #f5091e;
	height: 20px;
	padding: 7px 10px 5px 0;
	text-transform: uppercase;
	font-family: 'CooperBlackRegular';
	font-size: 16px;
	color: #fff;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: left;*/
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: #f5091e;
	width:168px;
	height: 255px;
	background: url(img/logo-olhaobrasil2.png) no-repeat;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;

}
h1 span {
	background: url(img/logo-olhaobrasil.png) no-repeat;
	display: block;
	width: 119px;
	height: 32px;
	float: left;
	margin: -7px 0 0 0;
	vertical-align: middle;
	text-indent: -5555px;
	display: none;
}
h2 {
	position: fixed;
	left: 0px;
	top: 45px;
	z-index: 100;
	letter-spacing: -1px;
	display: block;
	padding: 4px 10px;
	font-family: 'CooperBlackRegular';
	font-size: 15px;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	background: #f5091e;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	display: none;
}

.title-word {
	display: inline-block;
	#display: inline;
	zoom: 1;
	width: 304px;
	height: 304px;
	margin: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #009966;
	background-position: center bottom;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
/*.title-word.bola { background-image: url(img/bola.gif); }
.title-word.ave { background-image: url(img/ave.gif); }
.title-word.caneca { background-image: url(img/caneca.gif); }
.title-word.chopp { background-image: url(img/chopp.gif); }
.title-word.guitarra { background-image: url(img/guitarra.gif); }
.title-word.praia { background-image: url(img/praia.gif); }
.title-word.livro { background-image: url(img/livro.gif); }*/



.title-word span {
	position: absolute;
	left: 0;
	top: 33%;
	display: block;
	width: 304px;
	text-align: center;
	line-height: 40px;
	color:white;
	font-family: 'PFHandbookPro';
	font-size: 24px;
	text-transform: uppercase;
}
.title-word span b { display: block; font-size: 36px; margin-bottom: 0px; font-weight: normal; color: #000000; }
.image {
	width: 304px;
	height: 304px;
/*	float: left;*/
	position: relative;
	display: inline-block;
	#display: inline;
	zoom: 1;
	margin: 4px;
	padding: 0;
/*	background: #999;*/
	text-align: center;
	background: url(img/load.gif) center center no-repeat;
}
img.loading {
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -5px 0 0 -15px;
}

.image .name {
   width: 286px;
	 font-family: 'PFHandbookPro-Thin';
   padding: 5px 10px;
   position: absolute;
   bottom: -2px;
   text-align: left;
   left: 0;
   color: #FFF;
   background: url(img/ico.gif) no-repeat center right #f5091e;
   background:#009966;
   opacity:5;
   transition: opacity 0.4s ease;
   -webkit-transition: opacity 0.4s ease;
   -o-transition:Opacity 0.4s ease;
   -moz-transition: opacity 0.4s ease;
}
.image:hover .name {
   display: block;
   opacity:1;
   transition: opacity 0.4s ease;
   -webkit-transition: opacity 0.4s ease;
   -o-transition:Opacity 0.4s ease;
   -moz-transition: opacity 0.4s ease;
}


.footer {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #ff4068;
	position: fixed;
	bottom: 0;
	right: 10px;
	z-index: 100;
	padding: 5px 5px 0 5px;
	overflow: hidden;
}
.footer .twitter,
.footer .facebook { float: left; }
/* mobile */

/*iphone vertical*/
@media only screen and (min-width : 320px) and (max-width : 380px) {
	.image, .image img { width: 304px; height: 304px; }
	.title-word {
		height: auto !important;
		padding: 20px 0;
	}
	.title-word span { position: relative; top: 0; padding: 20px 0; }
	h2 {
		left: 0px;
		top: 50px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

/*iphone horizontal*/
@media only screen and (min-width : 381px) and (max-width : 600px) {
	.image, .image img, .title-word { width: 148px; height: 148px;  }
	h2 {
		left: 0px;
		top: 50px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.title-word span {
		width: 148px;
		line-height: 20px;
		font-size: 20px;
	}
}

/*ipad vertical*/
@media only screen and (min-width : 600px) and (max-width : 800px) {
	.image,
	.image img,
	.title-word {
		width: 364px;
		height: 364px;
	}

}
